# Pet Insurance Customer Segmentation - Data Wrangling

## 1 Introduction

### 1.1 Background
TBD

### 1.2 Project Goal
The goal of this project is to TBD

### 1.3 Datasets
The file PetData.csv contains enrollment and premium data for 50000 pets that enrolled in 2018. ClaimData.csv contains the dates and dollar amounts of claim submissions of pets between 2018 and 2021. Claim data for the two years following enrollment is included for the 50000 pets referenced in PetData.csv. 

PetData.csv contains the following columns:
* `PetId` - a unique number that identifies enrolled pets
* `EnrollDate` - the date of customer enrollment
* `Species` - species of pet, dog or cat
* `Breed` - breed of pet
* `PetAge` - the age of the pet at enrollment 
* `Premium` - the monthly premium (in USD) of the pet’s insurance policy
* `Deductible` - the deductible (in USD) of the pet’s insurance policy 
* `EnrollPath` - indicates whether the member enrolled via the company website or over the phone

ClaimsData.csv contains the following columns:
* `PetId` - a unique number that identifies enrolled pets
* `ClaimId` - a unique number that identifies individual claims made by our members
* `ClaimDate` - date of claim
* `AmountClaimed` - amount of claim

### 1.4 Questions for Data Wrangling
1. TBD

## 2 Setup

### 2.1 Imports

In [2]:
import pandas as pd
import numpy as np
import datetime
# from fuzzywuzzy import process, fuzz
# import re
import matplotlib.pyplot as plt

### 2.2 Load Data

In [3]:
# Read in the data files
pets = pd.read_csv('../data/PetData.csv')
claims = pd.read_csv('../data/ClaimData.csv')

### 2.3 Preview Data

In [4]:
# Preview pets data
pets.head()

,PetId,EnrollDate,Species,Breed,PetAge,Premium,Deductible,EnrollPath
0,0,9/18/18 17:51,Dog,Schnauzer - Standard,3 years old,84.54,200,Web
1,1,2/6/18 13:02,Dog,Yorkiepoo,8 weeks to 12 months old,50.33,500,Phone
2,2,8/22/18 11:23,Dog,Mixed breed Medium (20 - 55lbs when full grown),8 weeks to 12 months old,74.00,500,Phone
3,3,12/5/18 9:13,Dog,Labrador Retriever (Black),8 weeks to 12 months old,57.54,500,Phone
4,4,3/22/18 16:28,Dog,French Bulldog,8 weeks to 12 months old,60.69,700,Web

In [5]:
# Preview claims data
claims.head()

   PetId  ClaimId      ClaimDate  AmountClaimed
0      0        0   3/7/20 12:17         624.00
1      0        1    3/7/20 8:03         618.00
2      2        2    2/8/20 0:18         199.52
3      2        3  9/21/18 14:34         199.60
4      2        4  10/23/18 1:40         162.40

### 2.4 Initial Exploration

In [6]:
# Check column data types and for null values
print(pets.info())
print('\n')
print(claims.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PetId       50000 non-null  int64
 1   EnrollDate  50000 non-null  object
 2   Species     50000 non-null  object
 3   Breed       50000 non-null  object
 4   PetAge      50000 non-null  object
 5   Premium     50000 non-null  float64
 6   Deductible  50000 non-null  int64
 7   EnrollPath  50000 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 3.1+ MB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210235 entries, 0 to 210234
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   PetId          210235 non-null  int64
 1   ClaimId        210235 non-null  int64
 2   ClaimDate      210235 non-null  object
 3   AmountClaimed  210235 non-null  float64
dtypes: float64(1), int64(2), object(1)
memory usage: 6.4+ MB
None

In [7]:
# Check for count of unique values in each column in the dfs
print('Count of unique values in each column in pets df :')
print(pets.nunique())
print('\n')
print('Count of unique values in each column in claims df :')
print(claims.nunique())

Count of unique values in each column in pets df :
PetId         50000
EnrollDate    43883
Species           2
Breed           377
PetAge           15
Premium       11862
Deductible      189
EnrollPath        3
dtype: int64


Count of unique values in each column in claims df :
PetId             33882
ClaimId          210235
ClaimDate        188025
AmountClaimed     75193
dtype: int64

### 2.5 Initial Assessment
Based on the above, there are no missing values in the data. In terms of data types, there are a handful of non-numeric columns that we'll need to figure out how to handle as we work toward building our predictive model.

As a next step, let's review each column in more detail to get a better understanding of the data quality identify columns that will need additional handling. We'll start with the pets data and then move on to the claims data.

## 3 Review Data by Column

### 3. 1 Pets Data
Based on the column dtypes and initial exploration, below is a list of next steps by column for our pets data.

* `PetId` - Review range of IDs to ensure values are unique and confirm range
* `EnrollDate` - Convert to datetime object and review distribution
* `Species` - Review unique values and counts
* `Breed` - Review unique values and counts 
* `PetAge` - Review unique values and counts, create new column for age in years
* `Premium` - Review range of values and distribution
* `Deductible` - Review range of values and distribution
* `EnrollPath` - Review unique values and counts

#### 3.1.1 PetId

In [8]:
# Check value ranges for PetId column
print("Min value: " + str(pets.PetId.min()))
print("Max value: " + str(pets.PetId.max()))
print("Number of unique values: " + str(pets.PetId.nunique()))

Min value: 0
Max value: 49999
Number of unique values: 50000

**Result:** PetId values cover a range from 0 to 49999 with no duplicates.